@model RobesAndArmorGit.Models.ViewModels.classesCreate

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="charClass.Id" />
            <div class="form-group">
                <label asp-for="charClass.Name" class="control-label"></label>
                <input asp-for="charClass.Name" name="Name" class="form-control" />
                <span asp-validation-for="charClass.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="charClass.Str" class="control-label"></label>
                <input asp-for="charClass.Str" name="Str" class="form-control" />
                <span asp-validation-for="charClass.Str" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="charClass.Agility" class="control-label"></label>
                <input asp-for="charClass.Agility" name="Agility" class="form-control" />
                <span asp-validation-for="charClass.Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="charClass.Int" class="control-label"></label>
                <input asp-for="charClass.Int" name="Int" class="form-control" />
                <span asp-validation-for="charClass.Int" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="imageList">
                    @foreach(var item in Model.images) {
                        <div class="image">
                            <img src="~/images/classimg/@item" />
                            @if (Model.charClass.imageUrl.Contains(item))
                            {
                            <label><input type="radio" name="classimg" value="@item"  checked="checked"/></label>

                            }
                            else
                            {
                                <label><input type="radio" name="classimg" value="@item"/></label>

                            }
                        </div>

                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

