@model RobesAndArmorGit.Models.ViewModels.EnemyItem


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Enemy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Enemy.Name" class="control-label"></label>
                <input asp-for="Enemy.Name" class="form-control" />
                <span asp-validation-for="Enemy.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enemy.Level" class="control-label"></label>
                <input asp-for="Enemy.Level" class="form-control" />
                <span asp-validation-for="Enemy.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enemy.Atk" class="control-label"></label>
                <input asp-for="Enemy.Atk" class="form-control" />
                <span asp-validation-for="Enemy.Atk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enemy.Def" class="control-label"></label>
                <input asp-for="Enemy.Def" class="form-control" />
                <span asp-validation-for="Enemy.Def" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enemy.Health" class="control-label"></label>
                <input asp-for="Enemy.Health" class="form-control" />
                <span asp-validation-for="Enemy.Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enemy.imageUrl" class="control-label"></label>
                <input asp-for="Enemy.imageUrl" class="form-control" />
                <span asp-validation-for="Enemy.imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
