@model RobesAndArmorGit.Models.ViewModels.itemCreateImages


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">       
       
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="item.Name" class="control-label"></label>
                <input asp-for="item.Name" name="name" class="form-control" />
                <span asp-validation-for="item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.Level" class="control-label"></label>
                <input asp-for="item.Level" name="level" class="form-control" />
                <span asp-validation-for="item.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.Def" class="control-label"></label>
                <input asp-for="item.Def" name="def" class="form-control" />
                <span asp-validation-for="item.Def" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.Atk" class="control-label"></label>
                <input asp-for="item.Atk" name="atk" class="form-control" />
                <span asp-validation-for="item.Atk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.Health" class="control-label"></label>
                <input asp-for="item.Health" name="health" class="form-control" />
                <span asp-validation-for="item.Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.Description" class="control-label"></label>
                <textarea asp-for="item.Description" name="description" class="form-control"></textarea>
                <span asp-validation-for="item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.price" class="control-label"> </label>
                <input asp-for="item.price" name="price" class="form-control" />
                <span asp-validation-for="item.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Select the item type: </label>
                @foreach (var Img in Model.type)
        {
            <label><input type="radio" name="type" value="@Img.Id" />@Img.Name</label>
}
            </div>


            <div class="form-group">
                <label>Select the item Image</label>
                <div class="imageList">
                    @foreach (var Img in Model.images)
            {
                <div class="image">
                    <img class="listImage" src="~/images/item/@Img" />
                    <label><input type="radio" name="itemimg" value="@Img" />@Img</label>
                </div>

    }
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

